@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Marhey:wght@300..700&display=swap');
@import url(coffeeSection.css);
@import url(productsDetail.css);
@import url(nav.css);
@import url(homeSlider.css);
@import url(secondSection.css);
@import url(hotItemsSection.css);
@import url(footer.css);
@import url(infographic.css);
@import url(cart.css);
@import url(subscription.css);
@import url(events.css);
@import url(registerForm.css);
@import url(contact.css);

:root {
    --primary-color: #400801; 
    --primary2-color: #4e0a00d5; 
    --body-text-color: #555;
    --hover-primary-color: #791c14;
    --secondary-color: #C9A66B; 
    --darkbrown-color: #392311;
    --accent-color: #F4E1D2;
    --background-color: #F9F7F2;
    --card-bac-color: #EDE4E0;
    --white-color: #FFFFFF;
    --body-font-size: 16px;
    --title-font-size: 36px;
    --primary-font-family: 'Lato', sans-serif;  
    --secondary-font-family: 'Belleza', sans-serif;
    --silver-linear: linear-gradient(135deg, #757f9a 0%, #d7dde8 50%, #757f9a 100%);
    --gold-linear: linear-gradient(135deg, #a67c00 0%, #fddd8d 50%, #a67c00 100%);
    --diamond-linear: linear-gradient(to right, #00D2FF, #0097FF);
    --diamond-linear: linear-gradient(135deg, #0097FF 0%, #84c5f0 50%, #0097FF 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
body {
    background-color: var(--background-color);
    font-family: var(--primary-font-family);
}
.container {
    width: 80%;
    margin: 0 auto;
}
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  display: none;
  z-index: 1000;

}
#scrollTopBtn:hover {
  background-color: var(--hover-primary-color);
}
.wishCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.removeWishBtn {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.emptyWish {
  padding: 10px;
  color: var(--primary-color);
}
